.footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footer-container {
  width: 78%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  padding: 50px 0 45px;

  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin: 0 0 18px;

  color: #002f34;

  font-size: 16px;
  font-weight: 700;
}

.footer-column a {
  margin-bottom: 12px;

  color: #6b7475;

  font-size: 14px;

  text-decoration: none;
}

.footer-column a:hover {
  color: #00a49a;
}

.footer-description {
  color: #272829;

  font-size: 14px;

  line-height: 1.6;

  margin-top: 8px;
}

.social-icons {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 16px;
}

.facebook-icon {
  transform: scale(2);
}
.insta-icon{
  transform: scale(2);
}
.you-icon{
  transform: scale(1.5);
}
.x-icon{
  transform: scale(1.8);
}
.what-icon{
  transform: scale(1.9);
}

.link-icon{
  transform: scale(1.5);
}

.social-icons a {
  width: 27px;
  height: 30px;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 20px;
  height: 20px;

  display: block;

  object-fit: contain;

  border-radius: 50%;
}

.social-icons a:hover {
  background-color: #00a49a;

  border-color: #00a49a;

  color: white;
}
.follow-us {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  border-top: 1px solid #234b50;

  background-color: #00252a;
}

.footer-bottom-container {
  max-width: 1400px;

  margin: auto;

  padding: 18px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #a7babb;

  font-size: 13px;
}

.store-button {
  width: 155px;
  height: 48px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 10px;

  background-color: #355270;
  color: white;

  border-radius: 6px;
  text-decoration: none;

  margin-bottom: 10px;
}

.store-button img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.store-button div {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.store-button span {
  font-size: 9px;
  color: white;
}

.store-button strong {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

#facebook {
  width: 200px;
}

.store-image-button {
  display: block;

  width: 140px;

  height: auto;

  margin-top: 2px;
}

.store-image-button img {
  display: block;

  width: 100%;

  height: auto;

  object-fit: contain;

  cursor: pointer;
}
